.contact {
  composes: txtwrap from '@/styles/utils.css';
}

.contact li a {
  text-decoration: none;
}

.contact li a svg {
  height: 1em;
  margin-top: -0.2em;
  vertical-align: middle;
  width: 1em;
}
