.project {
  margin: 0 auto;
  max-width: 1000px;
}

.project h1 {
  font-family: var(--font-stack-serif);
  font-size: 2rem;
  font-weight: 900;
  margin: .75em 0 0;
}

.project h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 0 .5em;
}

.project img {
  margin: var(--spacing) 0;
}

.project img.twoCol {
  border: 1px solid var(--color-border);
}

@media (min-width: 600px) {
  .project {
    width: 80%;
  }

  .project img {
    margin: var(--spacing) -15%;
    max-width: 130%;
  }

  .project img.twoCol {
    display: inline-block;
    margin: calc(var(--spacing) / 2) -15%;
    width: calc(65% - var(--spacing));
  }

  .project img.twoCol:nth-of-type(odd) {
    margin-right: var(--spacing);
  }

  .project img.twoCol:nth-of-type(even) {
    margin-left: var(--spacing);
  }
}
