@font-face {
	font-family: 'Bariol';
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: url('@guill3m/fonts/bariol/bariol-light.woff2') format('woff2');
}

@font-face {
	font-family: 'Bariol';
	font-style: italic;
	font-display: swap;
	font-weight: 300;
	src: url('@guill3m/fonts/bariol/bariol-light-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Bariol';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url('@guill3m/fonts/bariol/bariol-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Bariol';
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src: url('@guill3m/fonts/bariol/bariol-regular-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Bariol';
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: url('@guill3m/fonts/bariol/bariol-bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Bariol';
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src: url('@guill3m/fonts/bariol/bariol-bold-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Bariol Fallback';
	src: local('Arial');
	ascent-override: 115.08%;
	descent-override: 29.57%;
	line-gap-override: 0%;
	size-adjust: 88.17%;
}

@font-face {
	font-family: 'Bw Darius';
	src: url('@guill3m/fonts/bw-darius/bw-darius-light.woff2') format('woff2');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bw Darius';
	src: url('@guill3m/fonts/bw-darius/bw-darius-regular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Bw Darius';
	src: url('@guill3m/fonts/bw-darius/bw-darius-regular-italic.woff2')
		format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Bw Darius';
	src: url('@guill3m/fonts/bw-darius/bw-darius-bold.woff2') format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Bw Darius';
	src: url('@guill3m/fonts/bw-darius/bw-darius-black.woff2') format('woff2');
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Bw Darius Fallback';
	src: local('Times New Roman');
	ascent-override: 79.04%;
	descent-override: 15.81%;
	line-gap-override: 0%;
	size-adjust: 126.52%;
}
