@layer reset {
	@view-transition {
		navigation: auto;
	}

	* {
		box-sizing: border-box;
	}

	html {
		line-height: 1.5;
		min-height: 100%;
		scroll-behavior: smooth;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto !important;
		}
	}

	picture {
		display: contents;
	}

	source {
		display: none;
	}

	img,
	svg {
		height: auto;
		max-width: 100%;
		vertical-align: middle;
	}

	small {
		font-size: 0.8em;
	}

	:target {
		scroll-margin-block: 1lh;
	}
}
