@layer reset {
	* {
		box-sizing: border-box;
	}

	html {
		hanging-punctuation: first allow-end last;
		-moz-text-size-adjust: none;
		-webkit-text-size-adjust: none;
		text-size-adjust: none;
	}

	body {
		line-height: 1.5;
		min-height: 100svh;
	}

	h1,
	h2,
	h3,
	h4,
	button,
	input,
	label {
		line-height: 1.2;
	}

	picture {
		display: contents;
	}
	source {
		display: none;
	}

	img,
	svg {
		height: auto;
		max-inline-size: 100%;
		vertical-align: middle;
	}

	button,
	input,
	select,
	textarea {
		font-family: inherit;
		font-size: inherit;
	}

	input:not(
		:where(
			[type='submit'],
			[type='checkbox'],
			[type='radio'],
			[type='button'],
			[type='reset']
		)
	) {
		inline-size: 100%;
	}

	textarea {
		field-sizing: content;
		inline-size: 100%;
		max-inline-size: 100%;

		&:not([rows]) {
			min-block-size: 6lh;
		}
	}

	:target {
		scroll-margin-block: 1lh;
	}

	@media (prefers-reduced-motion: no-preference) {
		@view-transition {
			navigation: auto;
		}

		html {
			interpolate-size: allow-keywords;
			scroll-behavior: smooth;
		}
	}
}
