@use './utils/colors' as c;

@layer defaults {
	:root {
		--color-anchor: #{c.$blue-300};
		--color-background: #{c.$orange-950};
		--color-background-dark: #{c.$orange-900};
		--color-foreground: #{c.$navy-100};
		--color-foreground-light: #{c.$navy-300};
		--color-primary: #{c.$orange-600};
		--color-primary-dark: #{c.$orange-300};
		--cubic-bezier-ease-in: cubic-bezier(0.3, 0, 1, 1);
		--cubic-bezier-ease-out: cubic-bezier(0, 0, 0.7, 1);
		--font-stack-sans: 'Source Sans 3', 'Source Sans 3 Fallback', sans-serif;
		--font-stack-serif: 'Bw Darius', 'Bw Darius Fallback', serif;
		--layout-column-width: calc(var(--layout-width) / 13);
		--layout-gap: calc(var(--spacing) * 1);
		--layout-margin-left: max(var(--margin-small), env(safe-area-inset-left));
		--layout-margin-right: max(var(--margin-small), env(safe-area-inset-right));
		--layout-width: min(
			1520px,
			100vw - var(--layout-margin-left) - var(--layout-margin-right)
		);
		--margin-extrasmall: calc(var(--spacing) * 1);
		--margin-small: calc(var(--spacing) * 3);
		--margin-medium: calc(var(--spacing) * 5);
		--margin-large: calc(var(--spacing) * 8);
		--margin-extralarge: calc(var(--spacing) * 13);
		--spacing: 0.5rlh;
		--transition-duration: 256ms;
		--transition-duration-fast: calc(var(--transition-duration) / 2);
		--transition-duration-slow: calc(var(--transition-duration) * 2);
	}

	@media (prefers-contrast: more) {
		:root {
			--color-primary: #{c.$orange-400};
			--color-primary-dark: #{c.$orange-100};
		}
	}
}
