@layer utility {
	.period {
		color: var(--color-foreground);
		view-transition-name: title-period;
	}

	.hidden {
		display: none;
	}

	// Google Chrome translation
	.translated-rtl {
		direction: rtl;
	}
}
