%text-wrap {
	grid-column: 1 / span 13;
}

@media (width >= 52em) {
	%text-wrap {
		grid-column: 2 / span 11;
	}
}

@media (width >= 72em) {
	%text-wrap {
		grid-column: 3 / span 8;
	}
}

@mixin forward-grid {
	display: grid;
	gap: var(--layout-gap);
	grid-column: 1 / span 13;
	grid-template-columns: subgrid;
}

@mixin gradient-text($color) {
	background-clip: text;
	background-image: linear-gradient(
		to bottom,
		$color,
		$color 35%,
		hsl(from $color h s calc(l - 10))
	);
	background-size: auto 1lh;
	color: transparent;

	@media print {
		background: none;
		color: $color;
	}
}

@mixin text-wrap {
	grid-column: 1 / span 13;

	@media (width >= 52em) {
		grid-column: 2 / span 11;
	}

	@media (width >= 72em) {
		grid-column: 3 / span 8;
	}
}
