@layer utility {
	.hidden {
		display: none;
	}

	// Google Chrome translation
	.translated-rtl {
		direction: rtl;
	}

	@media (prefers-reduced-motion: no-preference) {
		.period {
			view-transition-name: title-period;
		}
	}
}
