@use './utils';

.about {
	@extend %text-wrap;

	h2 {
		color: var(--color-primary);
	}
}

.about-intro {
	display: grid;
	grid-gap: var(--spacing);

	picture {
		order: 2;
	}

	img {
		border-radius: var(--spacing);
		height: 100%;
		object-fit: cover;
		vertical-align: top;
		width: 100%;
	}

	p {
		margin: 0;
		font-size: 1.5rem;
		font-weight: 300;
		line-height: 1.6;
		order: 1;
	}
}

@media (width >= 52em) {
	.about-intro {
		align-items: center;
		grid-template-columns: 5fr 7fr;
		grid-gap: calc(var(--spacing) * 2);

		picture {
			order: 1;
		}

		p {
			font-size: 1.3rem;
			font-weight: 200;
			margin-bottom: 0;
			order: 2;
		}
	}
}

@media (width >= 60em) {
	.about-intro p {
		font-size: 1.5rem;
	}
}

@media (width >= 74em) {
	.about-intro p {
		font-size: 1.6rem;
	}
}
