@use './utils';

.about {
	@include utils.forward-grid;

	h1 {
		@extend %text-wrap;
	}

	h2 {
		color: var(--color-primary);
	}
}

.about-intro {
	@extend %text-wrap;
	@include utils.forward-grid;
	font-size: 1.5rem;
	line-height: 1.75;
	font-weight: 300;

	picture {
		grid-column: 1 / span 13;
		grid-row: 2;
		text-align: center;
	}

	img {
		border-radius: var(--spacing);
		height: 6lh;
		max-width: 100%;
		object-fit: cover;
		object-position: left;
		vertical-align: top;
		width: auto;
	}

	p {
		grid-column: 1 / span 13;
		grid-row: 1;
		margin: 0;
	}
}

.about-section {
	@extend %text-wrap;
}

@media (width >= 40em) {
	.about-intro {
		align-items: center;
		font-size: 1.4rem;

		picture {
			grid-column: 1 / span 5;
			grid-row: 1;
			text-align: start;
		}

		p {
			grid-column: 6 / span 8;
		}
	}
}

@media (width >= 52em) {
	.about-intro {
		font-size: 1.5rem;

		img {
			height: 5lh;
		}
	}
}

@media (width >= 72em) {
	.about-intro {
		picture {
			grid-column: 2 / span 4;
		}

		p {
			grid-column: 6 / span 6;
		}
	}
}

@media (width >= 80em) {
	.about-intro {
		font-size: 1.65rem;
	}
}

@media (width >= 90em) {
	.about-intro {
		font-size: 1.75rem;
	}
}
