:root {
	--color-background: #fff;
	--color-foreground: #002a3a;
	--color-primary: #f68d2e;
	--color-primary-light: #fcc89b;
	--color-anchor: #0077c8;
	--color-border: #eee;
	--cubic-bezier-ease-in: cubic-bezier(0.3, 0, 1, 1);
	--cubic-bezier-ease-out: cubic-bezier(0, 0, 0.7, 1);
	--font-stack-sans: 'Source Sans 3', 'Source Sans 3 Fallback', sans-serif;
	--font-stack-serif: 'Bw Darius', 'Bw Darius Fallback', serif;
	--margin-extrasmall: calc(var(--spacing) * 2);
	--margin-small: calc(var(--spacing) * 4);
	--margin-medium: calc(var(--spacing) * 8);
	--margin-large: calc(var(--spacing) * 12);
	--margin-extralarge: calc(var(--spacing) * 16);
	--spacing: 0.5rem;
	--social-icon-color: var(--color-foreground);
}

html {
	background: var(--color-background);
	box-sizing: border-box;
	font-family: var(--font-stack-sans);
	font-size: calc(0.75em + 0.5vw);
	min-height: 100%;
	text-size-adjust: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: var(--color-foreground);
	margin: 0;
}

a {
	--social-icon-color: var(--color-anchor);

	color: var(--color-anchor);
	transition: color 256ms var(--cubic-bezier-ease-out);

	&:hover,
	&:focus {
		--social-icon-color: var(--color-foreground);

		color: var(--color-foreground);
		transition-timing-function: var(--cubic-bezier-ease-in);
	}

	&:active {
		--social-icon-color: var(--color-primary);

		color: var(--color-primary);
	}

	&[href^="https://"]
	{
		&::after {
			background-color: var(--color-anchor);
			content: ' ';
			display: inline-block;
			margin: 0 0.15em;
			mask: no-repeat center / 0.6em
				url('../assets/opens-in-new-tab.svg?no-inline');
			transition: background-color 256ms var(--cubic-bezier-ease-out);
			height: 1em;
			vertical-align: middle;
			width: 0.6em;
		}

		&:hover::after,
		&:focus::after {
			background-color: var(--color-foreground);
			transition-timing-function: var(--cubic-bezier-ease-in);
		}

		&:active::after {
			background-color: var(--color-primary);
		}
	}
}

img {
	max-width: 100%;
	vertical-align: baseline;
}

p {
	margin: 0.75em 0;
}

li::marker {
	color: var(--color-primary);
}

strong {
	font-weight: 600;
}

small {
	font-size: 0.8em;
}

hr {
	background-image: linear-gradient(
		90deg,
		transparent,
		var(--color-primary),
		transparent
	);
	border: 0;
	height: 1px;
}

@media (width >=1400px) {
	html {
		font-size: 1.1875em;
	}
}

::selection {
	background: var(--color-foreground);
	color: var(--color-background);
	text-shadow: none;
}
