:root {
	--color-anchor: hsl(228deg, 82%, 47%);
	--color-background: hsl(28deg, 92%, 97%);
	--color-background-dark: hsl(from var(--color-background) h s calc(l - 10));
	--color-foreground: hsl(194deg, 90%, 12%);
	--color-foreground-light: hsl(from var(--color-foreground) h s calc(l + 15));
	--color-primary: hsl(28deg, 92%, 57%);
	--color-primary-dark: hsl(from var(--color-primary) h s calc(l - 25));
	--cubic-bezier-ease-in: cubic-bezier(0.3, 0, 1, 1);
	--cubic-bezier-ease-out: cubic-bezier(0, 0, 0.7, 1);
	--font-stack-sans: 'Source Sans 3', 'Source Sans 3 Fallback', sans-serif;
	--font-stack-serif: 'Bw Darius', 'Bw Darius Fallback', serif;
	--layout-column-width: calc(var(--layout-width) / 13);
	--layout-gap: calc(var(--spacing) * 1);
	--layout-margin-left: max(var(--margin-small), env(safe-area-inset-left));
	--layout-margin-right: max(var(--margin-small), env(safe-area-inset-right));
	--layout-width: min(
		1520px,
		100vw - var(--layout-margin-left) - var(--layout-margin-right)
	);
	--margin-extrasmall: calc(var(--spacing) * 1);
	--margin-small: calc(var(--spacing) * 3);
	--margin-medium: calc(var(--spacing) * 5);
	--margin-large: calc(var(--spacing) * 8);
	--margin-extralarge: calc(var(--spacing) * 13);
	--spacing: 0.5rlh;
	--transition-timing: 256ms;
	--transition-timing-fast: calc(var(--transition-timing) / 2);
}

@media (prefers-contrast: more) {
	:root {
		--color-primary: hsl(28deg, 92%, 46%);
		--color-primary-dark: hsl(from var(--color-primary) h s calc(l - 20));
	}
}

@view-transition {
	navigation: auto;
}

::view-transition-group(*) {
	animation-duration: var(--transition-timing);
	animation-fill-mode: both;
}

::view-transition-old(*) {
	animation-timing-function: var(--cubic-bezier-ease-out);
	mix-blend-mode: plus-lighter;
}

::view-transition-new(*) {
	animation-timing-function: var(--cubic-bezier-ease-in);
	mix-blend-mode: plus-lighter;
}

::view-transition-old(*):only-child,
::view-transition-new(*):only-child {
	mix-blend-mode: normal;
}

@media (prefers-reduced-motion) {
	::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}

html {
	background: var(--color-background);
	box-sizing: border-box;
	font-family: var(--font-stack-sans);
	font-size: clamp(75%, 75% + 0.5vw, 125%);
	line-height: 1.5;
	min-height: 100%;
	text-size-adjust: none;
	scrollbar-color: var(--color-primary) var(--color-background);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	color: var(--color-foreground);
	margin: var(--layout-margin-left) auto var(--layout-margin-right);
	max-width: var(--layout-width);
}

a {
	color: var(--color-anchor);
	transition: color var(--transition-timing) var(--cubic-bezier-ease-out);

	&:hover,
	&:focus {
		color: var(--color-foreground);
		transition-timing-function: var(--cubic-bezier-ease-in);
	}

	&:active {
		color: var(--color-primary);
	}

	&[href^="https://"]
	{
		&::after {
			background-color: var(--color-anchor);
			content: ' ';
			display: inline-block;
			margin-block: 0;
			margin-inline: 0.15em;
			mask: no-repeat center / 0.6em
				url('../assets/opens-in-new-tab.svg?no-inline');
			transition: background-color var(--transition-timing)
				var(--cubic-bezier-ease-out);
			height: 1em;
			vertical-align: middle;
			width: 0.6em;
		}

		&:hover::after,
		&:focus::after {
			background-color: var(--color-foreground);
			transition-timing-function: var(--cubic-bezier-ease-in);
		}

		&:active::after {
			background-color: var(--color-primary);
		}
	}
}

picture {
	display: contents;
}

source {
	display: none;
}

img,
svg {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

h1,
h2,
h3 {
	font-family: var(--font-stack-serif);
	line-height: 1.25;
	margin-block: 1lh 0.5lh;
	margin-inline: 0;
}

h1 {
	font-size: 2rem;
	font-weight: 900;
	margin: 0;
}

.period {
	view-transition-name: title-period;
}

h2 {
	font-size: 1.5rem;
	font-weight: 700;

	h1 + & {
		margin-block-start: 0.5lh;
	}
}

h3 {
	font-size: 1.25rem;
	font-weight: 400;

	h2 + & {
		margin-block-start: 0.5lh;
	}
}

p,
ul,
ol {
	margin-block: 0.5lh;
	margin-inline: 0;
}

ul,
ol {
	padding-inline-start: 1lh;
}

li {
	&::marker {
		color: var(--color-primary);
	}

	> ul,
	> ol {
		margin: 0;
	}
}

strong {
	font-weight: 600;
}

code {
	font-size: 0.9em;
}

small {
	font-size: 0.8em;
}

hr {
	background-image: linear-gradient(
		90deg,
		transparent,
		var(--color-primary),
		transparent
	);
	border: 0;
	height: 1px;
}

::selection {
	background: var(--color-foreground);
	color: var(--color-background);
	text-shadow: none;
}

.hidden {
	display: none;
}

// Google Chrome translation
.translated-rtl {
	direction: rtl;
}
