.home-about {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	font-size: 1.9rem;
	justify-content: center;
	margin: var(--margin-small) 0;

	p,
	img {
		margin: var(--margin-small) 1em;
	}

	p {
		font-family: var(--font-stack-serif);
		font-size: 1em;
		font-weight: 200;
		width: 8.5em;
	}

	strong {
		font-weight: 700;
	}

	a {
		font-family: var(--font-stack-sans);
		font-size: 1rem;
		font-weight: 400;
	}

	img {
		height: 5em;
	}
}

.home-work {
	margin: var(--margin-medium) 0 var(--margin-small);
}

@media (width >=450px) {
	.home-about {
		font-size: 2.5rem;
		margin: var(--margin-medium) 0;

		a {
			font-size: 0.5em;
		}

		img {
			height: 6.5em;
		}
	}

	.home-work {
		margin-top: var(--margin-large);
	}
}

@media (width >=700px) {
	.home-about {
		font-size: 3rem;
		margin: var(--margin-large) 0;
	}

	.home-work {
		margin-top: var(--margin-extralarge);

		p {
			font-size: 1.5rem;
		}
	}
}

@media (width >=924px) {
	.home-about {
		p {
			order: 1;
		}

		img {
			order: 2;
		}
	}
}
