.home-about {
	align-items: center;
	display: grid;
	font-size: 1.9rem;
	gap: var(--margin-small);
	grid-template-columns: repeat(7, 1fr);
	justify-items: center;
	margin: var(--margin-small) 0;
}

.home-about-image {
	display: flex;
	grid-column: 2 / span 5;
	grid-row: 1;

	img {
		height: 5em;
		margin: auto;
		vertical-align: bottom;
		width: auto;
	}
}

.home-about-text {
	grid-column: 2 / span 5;
	grid-row: 2;
	font-family: var(--font-stack-serif);
	font-weight: 200;
	margin: 0;
	max-width: 8.5em;

	strong {
		font-weight: 700;
	}

	a {
		font-family: var(--font-stack-sans);
		font-size: 1rem;
		font-weight: 400;
	}
}

.home-work {
	margin: var(--margin-medium) 0 var(--margin-small);
}

@media (width >= 32em) {
	.home-about {
		gap: 0;
	}

	.home-about-image {
		grid-column: 5 / span 3;

		img {
			height: 6.5em;
		}
	}

	.home-about-text {
		grid-column: 1 / span 4;
		grid-row: 1;
	}
}

@media (width >= 40em) {
	.home-about {
		font-size: 2.5rem;
		margin: var(--margin-medium) 0;
	}

	.home-about-text a {
		font-size: 0.5em;
	}
}

@media (width >= 48em) {
	.home-about {
		font-size: 3rem;
		margin: var(--margin-large) 0;
	}

	.home-work {
		margin-top: var(--margin-extralarge);

		p {
			font-size: 1.5rem;
		}
	}
}

@media (width >= 71em) {
	.home-about-image {
		grid-column: 5 / span 2;
	}

	.home-about-text {
		grid-column: 2 / span 3;
	}
}
