@use './utils';

.project {
	@extend %text-wrap;

	img {
		background: #fff;
		border: 1px solid var(--color-background-dark);
		border-radius: var(--spacing);
		height: auto;
		margin-top: var(--margin-extrasmall);
		vertical-align: bottom;
	}

	:global(.two-col-images) {
		margin-top: var(--margin-extrasmall);
	}
}

@media (width >= 40em) {
	.project {
		:global(.two-col-images) {
			display: grid;
			gap: var(--layout-column-gap);
			grid-template-columns: repeat(2, 1fr);
			width: var(--layout-width);

			img {
				margin: 0;
				width: 100%;
			}
		}
	}
}

@media (width >= 52em) {
	.project {
		img,
		:global(.two-col-images) {
			margin-left: calc(var(--layout-column-width) * -1 - 1px);
		}

		img {
			max-width: none;
			width: var(--layout-width);

			&:global(.narrow-image) {
				margin-left: 0;
				width: 100%;
			}
		}
	}
}

@media (width >= 72em) {
	.project {
		img,
		:global(.two-col-images) {
			margin-left: calc(var(--layout-column-width) * -2 - 2px);
		}
	}
}
