@use './utils';

.project {
	@extend %text-wrap;

	img {
		border-radius: var(--spacing);
		height: auto;
		margin: var(--spacing) 0;
	}

	:global(.two-col-images) img {
		border: 1px solid var(--color-background-dark);
	}
}

@media (width >= 40em) {
	.project {
		img {
			margin: var(--spacing) -15%;
			max-width: 130%;
		}

		:global(.two-col-images) {
			display: grid;
			gap: calc(var(--spacing) * 2);
			grid-template-columns: repeat(2, 1fr);
			margin: var(--spacing) -15%;
			width: 130%;

			img {
				margin: 0;
				vertical-align: bottom;
				width: 100%;
			}
		}
	}
}
