.header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
}

.header,
.main,
.footer {
  margin: var(--margin-small);
  max-width: 1550px;
}

.logo {
  color: var(--color-primary);
  font-family: var(--font-stack-serif);
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 0.9;
  margin: var(--spacing) var(--margin-small) var(--spacing) 0;
  text-decoration: none;
}

.menu {
  font-weight: 600;
  margin: var(--spacing) 0;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 0;
}

.menu a {
  color: var(--color-primary-light);
  padding: 0 var(--spacing);
  text-decoration: none;
}

.footer {
  align-items: top;
  color: var(--color-primary-light);
  font-size: 0.75rem;
}

.footer p {
  margin: 0.25em 0;
}

.footer strong {
  color: var(--color-primary);
}

.footer a {
  font-weight: 600;
}

.menu a,
.footer a {
  color: var(--color-primary-light);
}

.menu a:hover,
.menu a:focus,
.footer a:hover,
.footer a:focus {
  color: var(--color-txt);
}

.menu a:active,
.footer a:active {
  color: var(--color-primary);
}

@media (width >= 1630px) {
  .header,
  .main,
  .footer {
    margin: var(--margin-small) auto;
  }
}
