.list {
  margin: 0;
  padding: 0;
}

.item {
  list-style: none;
  margin: var(--spacing) 0;
}

.item a {
  color: var(--color-txt);
}

.item a:hover {
  color: var(--color-highlight);
}

.item > strong {
  font-family: var(--font-stack-serif);
  font-weight: 400;
}

.item > em {
  font-size: 0.75em;
  font-style: normal;
}

.item > em::before {
  color: var(--color-primary-light);
  content: '— ';
}

.item > strong > em {
  font-style: normal;
  font-weight: 700;
}
