---
import { Picture } from 'astro:assets'

import Layout from '../layouts/layout.astro'
import ExperienceList from '../components/experience-list.astro'
import ExperienceItem from '../components/experience-item.astro'

import meKidJpg from '../assets/me-kid.jpg'

const title = 'About me'
const meta = {
	description:
		'Hi, my name is Guillem. I’m an experienced Tech Lead, Web Developer, and Designer. With a predilection for front-end development and a human-first collaborative approach. Passionate about design, technology, and their convergence.',
}
---

<Layout title={title} meta={meta}>
	<article class="about-page">
		<h1>{title}<span class="period">.</span></h1>
		<section class="about-intro">
			<Picture
				alt="Me when I was a small kid. On the desk, there is a white paper and many colorful crayons scatered on top, I am looking at the camera while holding one crayon on each hand"
				formats={['avif', 'webp']}
				loading="eager"
				sizes={[
					'(min-width: 90em) calc(1.75rem * 1.75 * 5 * (4 / 3))',
					'(min-width: 80em) calc(1.65rem * 1.75 * 5 * (4 / 3))',
					'(min-width: 52em) calc(1.5rem * 1.75 * 5 * (4 / 3))',
					'(min-width: 40em) calc(1.4rem * 1.75 * 6 * (4 / 3))',
					'calc(1.5rem * 1.75 * 6 * (4 / 3))',
				].join()}
				src={meKidJpg}
				width={410}
				widths={[560, 640, 740, 820, 960, meKidJpg.width]}
			/>
			<p>
				Hi, my name is Guillem. I’m an experienced Web Developer and Designer.
				With a predilection for front-end development and a human-first
				collaborative approach. Passionate about design, technology, and their
				convergence.
			</p>
		</section>
		<section class="about-section">
			<h2 id="experience">Experience.</h2>
			<ExperienceList>
				<ExperienceItem
					title="Frontend Engineer"
					organisation="AMBOSS"
					organisationUrl="https://www.amboss.com/us"
					date="Since November 2025"
					city="Hybrid, Berlin"
					techStack={[
						'React',
						'React Router',
						'Zustand',
						'Typescript',
						'Apollo GraphQL',
						'SCSS-Modules',
						'Jest',
						'Playwright',
					]}
				>
					<p>
						Empowering medical professionals to provide the best possible care.
					</p>
				</ExperienceItem>
				<ExperienceItem
					title="Team Lead, Web"
					organisation="Ada Health"
					organisationUrl="https://ada.com"
					date="June 2019 to December 2024"
					city="Hybrid, Berlin"
					techStack={[
						'React',
						'Next.js',
						'Typescript',
						'Node.js',
						'SCSS-Modules',
						'Jest',
						'Playwright',
						'Prismic',
						'Shopify',
						'OpenTelemetry',
					]}
				>
					<p>
						Over the years, my role and team at Ada constantly evolved. From
						working with and managing a multi-disciplinary team in Marketing, to
						a hands-on Engineering Manager in a product-focused team:
					</p>
					<ul>
						<li>
							Spearheaded the transformation of Ada’s website, overseeing a
							complete redesign, CMS overhaul, and framework migration that
							boosted end-user performance, efficiency, and usability.
						</li>
						<li>
							Expanded the site from 2 to 6 languages, with over 2.500 pages
							total, and grew from ~10.000 visitors monthly to over 1 million
							organic monthly visitors driving hundreds of daily app installs.
						</li>
						<li>
							Facilitated cross-functional collaboration, aligning with
							stakeholders on tech initiatives and roadmap, driving
							organisational priorities, and ensuring team execution on
							high-impact projects.
						</li>
						<li>
							Led the recruitment and managed developers, designers, and SEO
							managers. Strengthening the team’s ability to consistently deliver
							results aligned with business priorities.
						</li>
						<li>
							Guided the team through multiple business changes and strategic
							pivots. Providing mentorship, resources, and support to foster
							individual growth and team success.
						</li>
					</ul>
				</ExperienceItem>
				<ExperienceItem
					title="Web Developer"
					organisation="Ada Health"
					organisationUrl="https://ada.com"
					date="July 2018 to May 2019"
					city="On-site, Berlin"
					techStack={[
						'React',
						'react-static',
						'Node.js',
						'styled-components',
						'Jest',
						'Contentful',
					]}
				>
					<p>
						Joined Ada to bring the development of the company website in-house,
						a mix of a corporate website and an SEO-driven user-acquisition
						channel:
					</p>
					<ul>
						<li>
							Drove the development of the website, optimising for user
							acquisition. Collaborated closely with designers and copywriters
							to launch new components, landing pages, and languages.
						</li>
						<li>
							Contributed to the SEO strategy by improving site performance and
							enhancing discoverability.
						</li>
					</ul>
				</ExperienceItem>
				<ExperienceItem
					title="UI/UX Developer"
					organisation="Universal Units"
					organisationUrl="https://universalunits.com"
					date="June 2015 to June 2018"
					city="On-site, Berlin"
					techStack={[
						'Symphony',
						'PHP',
						'Twig',
						'Vue.js',
						'jQuery',
						'LESS',
						'Webpack',
						'Jest',
						'Behat',
						'Selenium',
					]}
				>
					<ul>
						<li>
							Led the front-end development and UI design for a suite of
							web-based financial applications for multinational European
							corporations. With a focus on performance and user-friendliness.
						</li>
						<li>
							Expanded and improved the design system and component library,
							streamlining development processes and ensuring visual consistency
							across applications.
						</li>
						<li>
							Implemented the company’s brand refresh, from logo to stationary
							to website redesign.
						</li>
					</ul>
				</ExperienceItem>
				<ExperienceItem
					title="UI/UX Developer"
					organisation="netdudes GmbH"
					organisationUrl="https://web.archive.org/web/20160817001617/http://www.netdudes.de/"
					date="October 2013 to May 2015"
					city="On-site, Berlin"
					techStack={[
						'Symphony',
						'PHP',
						'Twig',
						'jQuery',
						'LESS',
						'Gulp.js',
						'Behat',
						'Selenium',
					]}
				>
					<ul>
						<li>
							Designed and developed the user interface for a suite of web-based
							financial applications for multinational European corporations.
							With a focus on performance and user-friendliness.
						</li>
						<li>
							Started and led the development of a scalable design system that
							improved development efficiency and visual consistency across
							applications.
						</li>
					</ul>
				</ExperienceItem>
				<ExperienceItem
					title="Freelance Graphic and Web Designer"
					date="May 2011 to October 2013"
					city="València"
					techStack={['WordPress', 'PHP', 'jQuery', 'SCSS']}
				>
					<ul>
						<li>
							Worked with multiple clients on a diverse range of projects: web
							design and development, book layout, iconography for signage,
							video editing, and posters.
						</li>
						<li>
							Continued to work with CuldeSac as a freelance designer on various
							projects for clients such as Havaianas, TAG Heuer and Nike, among
							others.
						</li>
					</ul>
				</ExperienceItem>
				<ExperienceItem
					title="Web Designer and Developer"
					organisation="AMP Servicios"
					organisationUrl="https://web.archive.org/web/20160129162203/http://www.ampservicios.com/"
					date="April 2012 to April 2013"
					city="On-site, València"
					techStack={['WordPress', 'PHP', 'jQuery', 'SCSS']}
				>
					<p>
						Built the company websites of a reseller for three major network
						providers in Spain:
					</p>
					<ul>
						<li>
							Designed and developed SEO-optimised websites for multiple telecom
							brands, driving leads and improving search visibility through
							regular experiments and optimisation.
						</li>
						<li>
							Built a DSL comparison site that served as a critical marketing
							tool for the company, attracting new leads through targeted SEO
							strategies while providing value to users.
						</li>
					</ul>
				</ExperienceItem>
				<ExperienceItem
					title="Graphic Design Internship"
					organisation="CuldeSac™"
					organisationUrl="https://www.culdesac.es"
					date="November 2010 to May 2011"
					city="On-site, València"
				>
					<p>
						Joined the “Espacio Creativo” (Interior and Product Design)
						department of this design studio:
					</p>
					<ul>
						<li>
							Assisted on projects in editorial design, events and retail spaces
							graphics, and client presentations.
						</li>
						<li>
							Prepared artwork for print, ensuring the highest quality standards
							were met.
						</li>
					</ul>
				</ExperienceItem>
			</ExperienceList>
		</section>
		<section class="about-section">
			<h2 id="studies">Studies.</h2>
			<ExperienceList>
				<ExperienceItem
					title="Bachelor’s Degree, Graphic Design"
					titleUnion=" at the "
					organisation="EASD València"
					organisationUrl="https://www.easdvalencia.com"
					date="October 2006 to April 2011"
				/>
			</ExperienceList>
		</section>
		<section class="about-section">
			<h2 id="courses">Courses.</h2>
			<ExperienceList>
				<ExperienceItem
					title="Web Design and Multimedia"
					city="359 hours, in-person"
					date="June to October 2006"
				/>
			</ExperienceList>
		</section>
		<section class="about-section">
			<h2 id="others">Others.</h2>
			<ExperienceList>
				<ExperienceItem
					title="Organisation Assistance"
					titleUnion=" at the "
					organisation="Valencia Disseny Week"
					organisationUrl="https://www.valenciadissenyweek.com"
					date="September 2010"
					city="València"
				>
					<p>
						Supported the organisation of the Valencia Disseny Week, a week-long
						event consisting of design-related activities around various
						locations in Valencia city highlighting the work of Valencian
						designers. The event was organised by the Association of Designers
						of the Region of Valencia (ADCV).
					</p>
				</ExperienceItem>
				<ExperienceItem
					title="Organisation Assistance"
					titleUnion=" at the "
					organisation="4th International Typography Congress"
					organisationUrl="https://www.congresotipografia.com"
					date="June 2010"
					city="València"
				>
					<p>
						Supported the organisation of a conference composed of a mix of
						workshops, exhibitions, talks, and book presentations with national
						and international guests. The conference was organised by the ADCV
						and considered the most important event about typography and graphic
						design in Spain.
					</p>
				</ExperienceItem>
			</ExperienceList>
		</section>
	</article>
</Layout>

<style lang="scss">
	@use '../styles/utils/mixins' as m;

	@layer layout {
		.about-page h1,
		.about-intro,
		.about-section {
			@include m.text-wrap;
		}

		.about-page,
		.about-intro {
			@include m.forward-grid;
		}

		.about-page {
			h2 {
				color: var(--color-primary);
			}
		}

		.about-intro {
			font-size: 1.5rem;
			line-height: 1.75;
			font-weight: 300;

			img {
				border-radius: var(--spacing);
				grid-column: 1 / span 13;
				grid-row: 2;
				height: 6lh;
				object-fit: cover;
				object-position: left;
				width: auto;
			}

			p {
				grid-column: 1 / span 13;
				grid-row: 1;
				margin: 0;
				text-wrap: pretty;
			}
		}

		.about-section {
			@include m.enter-screen-animation-subtle;
		}

		@media (width >= 40em) {
			.about-intro {
				align-items: center;
				font-size: 1.4rem;

				img {
					grid-column: 1 / span 5;
					grid-row: 1;
					text-align: start;
				}

				p {
					grid-column: 6 / span 8;
				}
			}
		}

		@media (width >= 52em) {
			.about-intro {
				font-size: 1.5rem;

				img {
					height: 5lh;
				}
			}
		}

		@media (width >= 72em) {
			.about-intro {
				img {
					grid-column: 2 / span 4;
				}

				p {
					grid-column: 6 / span 6;
				}
			}
		}

		@media (width >= 80em) {
			.about-intro {
				font-size: 1.65rem;
			}
		}

		@media (width >= 90em) {
			.about-intro {
				font-size: 1.75rem;
			}
		}

		@media print {
			.about-intro {
				font-size: 1.25rem;

				img {
					grid-column: 1 / span 3;
					height: 4lh;
				}

				p {
					grid-column: 4 / span 8;
				}
			}
		}
	}
</style>
