---
import { Picture } from 'astro:assets'

import Layout from '../layouts/layout.astro'
import ExperienceList from '../components/experience-list.astro'

import meKidJpg from '../assets/me-kid.jpg'

const title = 'About me'
const meta = {
	description:
		'Hi, my name is Guillem. I’m an experienced Tech Lead, Web Developer, and Designer. With a predilection for front-end development and a human-first collaborative approach. Passionate about design, technology, and their convergence.',
}
---

<Layout title={title} meta={meta}>
	<article class="about-page">
		<h1>{title}<span class="period">.</span></h1>
		<section class="about-intro">
			<Picture
				alt="Me when I was a small kid. There is a white paper on the desk and scattered many colorful crayons, I am looking at the camera and holding one crayon on each hand"
				formats={['avif', 'webp']}
				loading="eager"
				sizes={[
					'(min-width: 90em) calc(1.75rem * 1.75 * 5 * (4 / 3))',
					'(min-width: 80em) calc(1.65rem * 1.75 * 5 * (4 / 3))',
					'(min-width: 52em) calc(1.5rem * 1.75 * 5 * (4 / 3))',
					'(min-width: 40em) calc(1.4rem * 1.75 * 6 * (4 / 3))',
					'calc(1.5rem * 1.75 * 6 * (4 / 3))',
				].join()}
				src={meKidJpg}
				width={410}
				widths={[560, 640, 740, 820, 960, meKidJpg.width]}
			/>
			<p>
				Hi, my name is Guillem. I’m an experienced Web Developer and Designer.
				With a predilection for front-end development and a human-first
				collaborative approach. Passionate about design, technology, and their
				convergence.
			</p>
		</section>
		<section class="about-section">
			<h2 id="experience">Experience.</h2>
			<ExperienceList
				items={[
					{
						city: 'Hybrid, Berlin',
						date: 'June 2019 to December 2024',
						description: `
							<p>Over the years, my role and team at Ada constantly evolved. From working with and managing a multi-disciplinary team in Marketing, to a hands-on Engineering Manager in a product-focused team:</p>
							<ul>
								<li>Spearheaded the transformation of Ada’s website, overseeing a complete redesign, CMS overhaul, and framework migration that boosted end-user performance, efficiency, and usability.</li>
								<li>Expanded the site from 2 to 6 languages, with over 2.500 pages total, and grew from ~10.000 visitors monthly to over 1 million organic monthly visitors driving hundreds of daily app installs.</li>
								<li>Facilitated cross-functional collaboration, aligning with stakeholders on tech initiatives and roadmap, driving organisational priorities, and ensuring team execution on high-impact projects.</li>
								<li>Led the recruitment and managed developers, designers, and SEO managers. Strengthening the team’s ability to consistently deliver results aligned with business priorities.</li>
								<li>Guided the team through multiple business changes and strategic pivots. Providing mentorship, resources, and support to foster individual growth and team success.</li>
							</ul>
						`,
						techStack: [
							'React',
							'Next.js',
							'Typescript',
							'Node.js',
							'SCSS-Modules',
							'Jest',
							'Playwright',
							'Prismic',
							'Shopify',
							'OpenTelemetry',
						],
						title: 'Team Lead, Web',
						url: 'https://ada.com',
						where: 'Ada Health',
					},
					{
						city: 'On-site, Berlin',
						date: 'July 2018 to May 2019',
						description: `
							<p>Joined Ada to bring the development of the company website in-house, a mix of a corporate website and an SEO-driven user-acquisition channel:</p>
							<ul>
								<li>Drove the development of the website, optimising for user acquisition. Collaborated closely with designers and copywriters to launch new components, landing pages, and languages.</li>
								<li>Contributed to the SEO strategy by improving site performance and enhancing discoverability.</li>
							</ul>
						`,
						techStack: [
							'React',
							'react-static',
							'Node.js',
							'styled-components',
							'Jest',
							'Contentful',
						],
						title: 'Web Developer',
						url: 'https://ada.com',
						where: 'Ada Health',
					},
					{
						city: 'On-site, Berlin',
						date: 'June 2015 to June 2018',
						description: `
							<ul>
								<li>Led the front-end development and UI design for a suite of web-based financial applications for multinational European corporations. With a focus on performance and user-friendliness.</li>
								<li>Expanded and improved the design system and component library, streamlining development processes and ensuring visual consistency across applications.</li>
								<li>Implemented the company’s brand refresh, from logo to stationary to website redesign.</li>
							</ul>
						`,
						techStack: [
							'Symphony',
							'PHP',
							'Twig',
							'Vue.js',
							'jQuery',
							'LESS',
							'Webpack',
							'Jest',
							'Behat',
							'Selenium',
						],
						title: 'UI/UX Developer',
						url: 'https://universalunits.com',
						where: 'Universal Units',
					},
					{
						city: 'On-site, Berlin',
						date: 'October 2013 to May 2015',
						description: `
							<ul>
								<li>Designed and developed the user interface for a suite of web-based financial applications for multinational European corporations. With a focus on performance and user-friendliness.</li>
								<li>Started and led the development of a scalable design system that improved development efficiency and visual consistency across applications.</li>
							</ul>
						`,
						techStack: [
							'Symphony',
							'PHP',
							'Twig',
							'jQuery',
							'LESS',
							'Gulp.js',
							'Behat',
							'Selenium',
						],
						title: 'UI/UX Developer',
						url: 'https://web.archive.org/web/20160817001617/http://www.netdudes.de/',
						where: 'netdudes',
					},
					{
						city: 'València',
						date: 'May 2011 to October 2013',
						description: `
							<ul>
								<li>Worked with multiple clients on a diverse range of projects: web design and development, book layout, iconography for signage, video editing, and posters.</li>
								<li>Continued to work with CuldeSac as a freelance designer on various projects for clients such as Havaianas, TAG Heuer and Nike, among others.</li>
							</ul>
						`,
						techStack: ['WordPress', 'PHP', 'jQuery', 'SCSS'],
						title: 'Freelance Graphic and Web Designer',
						titleUnion: '',
					},
					{
						city: 'On-site, València',
						date: 'April 2012 to April 2013',
						description: `
							<p>Built the company websites of a reseller for three major network providers in Spain:</p>
							<ul>
								<li>Designed and developed SEO-optimised websites for multiple telecom brands, driving leads and improving search visibility through regular experiments and optimisation.</li>
								<li>Built a DSL comparison site that served as a critical marketing tool for the company, attracting new leads through targeted SEO strategies while providing value to users.</li>
							</ul>
						`,
						techStack: ['WordPress', 'PHP', 'jQuery', 'SCSS'],
						title: 'Web Designer and Developer',
						url: 'https://web.archive.org/web/20160129162203/http://www.ampservicios.com/',
						where: 'AMP Servicios',
					},
					{
						date: 'November 2010 to May 2011',
						description: `
							<p>Joined the “Espacio Creativo” (Interior and Product Design) department of this design studio:</p>
							<ul>
								<li>Assisted on projects in editorial design, events and retail spaces graphics, and client presentations.</li>
								<li>Prepared artwork for print, ensuring the highest quality standards were met.</li>
							</ul>
						`,
						city: 'On-site, València',
						title: 'Graphic Design Internship',
						url: 'https://www.culdesac.es',
						where: 'CuldeSac™',
					},
				]}
			/>
		</section>
		<section class="about-section">
			<h2 id="studies">Studies.</h2>
			<ExperienceList
				items={[
					{
						date: 'October 2006 to April 2011',
						title: 'Bachelor’s Degree, Graphic Design',
						titleUnion: 'at the',
						url: 'https://www.easdvalencia.com',
						where: 'EASD València',
					},
				]}
			/>
		</section>
		<section class="about-section">
			<h2 id="courses">Courses.</h2>
			<ExperienceList
				items={[
					{
						city: '359 hours, in-person',
						date: 'June to October 2006',
						title: 'Web Design and Multimedia',
						titleUnion: '',
					},
				]}
			/>
		</section>
		<section class="about-section">
			<h2 id="others">Others.</h2>
			<ExperienceList
				items={[
					{
						city: 'València',
						date: 'September 2010',
						description:
							'Supported the organisation of the Valencia Disseny Week, a week-long event consisting of design-related activities around various locations in Valencia city highlighting the work of Valencian designers. The event was organised by the Association of Designers of the Region of Valencia (ADCV).',
						title: 'Organisation Assistance',
						titleUnion: 'at the',
						url: 'https://www.valenciadissenyweek.com',
						where: 'Valencia Disseny Week',
					},
					{
						city: 'València',
						date: 'June 2010',
						description:
							'Supported the organisation of a conference composed of a mix of workshops, exhibitions, talks, and book presentations with national and international guests. The conference was organised by the ADCV and considered the most important event about typography and graphic design in Spain.',
						title: 'Organisation Assistance',
						titleUnion: 'at the',
						url: 'https://www.congresotipografia.com',
						where: '4th International Typography Congress',
					},
				]}
			/>
		</section>
	</article>
</Layout>

<style lang="scss">
	@use '../styles/utils/mixins' as m;

	@layer layout {
		.about-page h1,
		.about-intro,
		.about-section {
			@include m.text-wrap;
		}

		.about-page,
		.about-intro {
			@include m.forward-grid;
		}

		.about-page {
			h2 {
				color: var(--color-primary);
			}
		}

		.about-intro {
			font-size: 1.5rem;
			line-height: 1.75;
			font-weight: 300;

			img {
				border-radius: var(--spacing);
				grid-column: 1 / span 13;
				grid-row: 2;
				height: 6lh;
				object-fit: cover;
				object-position: left;
				width: auto;
			}

			p {
				grid-column: 1 / span 13;
				grid-row: 1;
				margin: 0;
				text-wrap: pretty;
			}
		}

		.about-section {
			@include m.enter-screen-animation-subtle;
		}

		@media (width >= 40em) {
			.about-intro {
				align-items: center;
				font-size: 1.4rem;

				img {
					grid-column: 1 / span 5;
					grid-row: 1;
					text-align: start;
				}

				p {
					grid-column: 6 / span 8;
				}
			}
		}

		@media (width >= 52em) {
			.about-intro {
				font-size: 1.5rem;

				img {
					height: 5lh;
				}
			}
		}

		@media (width >= 72em) {
			.about-intro {
				img {
					grid-column: 2 / span 4;
				}

				p {
					grid-column: 6 / span 6;
				}
			}
		}

		@media (width >= 80em) {
			.about-intro {
				font-size: 1.65rem;
			}
		}

		@media (width >= 90em) {
			.about-intro {
				font-size: 1.75rem;
			}
		}

		@media print {
			.about-intro {
				font-size: 1.25rem;

				img {
					grid-column: 1 / span 3;
					height: 4lh;
				}

				p {
					grid-column: 4 / span 8;
				}
			}
		}
	}
</style>
