---
import styles from './index.module.scss'

import { Image } from 'astro:assets'

import Layout from '../layouts/layout.astro'
import Link from '../components/link.astro'
import ProjectThumbnailList from '../components/project-thumbnail-list.astro'
import { getFeaturedProjectThumbnails } from '../helpers/get-data'

import meSvg from '../assets/me.svg'

const featuredProjectThumbnails = await getFeaturedProjectThumbnails()
---

<Layout
	meta={{
		title: 'Guillem Andreu - Web Developer and Designer',
		description:
			'Hi. I’m Guillem, a web developer and designer based in Berlin. This is my Portfolio Website.',
	}}
>
	<section class={styles.about}>
		<Image alt="A drawn silouethe of myself" priority src={meSvg} />
		<p>
			<strong>Hi. I’m Guillem,</strong> a web developer and designer based in Berlin.
			<br />
			<Link href="/about/">More about me</Link>
		</p>
	</section>
	<section class={styles.work}>
		<p>
			Here are some of the <Link href="/work/">things I make</Link>:
		</p>
		<ProjectThumbnailList items={featuredProjectThumbnails} />
	</section>
</Layout>
