$orange-50: oklch(0.2 0.047 56.5);
$orange-100: oklch(0.283 0.067 56.5);
$orange-200: oklch(0.367 0.087 56.5);
$orange-300: oklch(0.45 0.107 56.5);
$orange-400: oklch(0.533 0.126 56.5);
$orange-500: oklch(0.617 0.146 56.5);
$orange-600: oklch(0.7 0.166 56.5); // Primary
$orange-700: oklch(0.783 0.16 56.5);
$orange-800: oklch(0.867 0.092 56.5);
$orange-900: oklch(0.95 0.033 56.5);
$orange-950: oklch(0.98 0.02 56.5); // Background

$navy-50: oklch(0.2 0.05 224);
$navy-100: oklch(0.283 0.07 224); // Foreground
$navy-200: oklch(0.367 0.091 224);
$navy-300: oklch(0.45 0.112 224);
$navy-400: oklch(0.533 0.132 224);
$navy-500: oklch(0.617 0.153 224);
$navy-600: oklch(0.7 0.174 224);
$navy-700: oklch(0.783 0.162 224);
$navy-800: oklch(0.867 0.097 224);
$navy-900: oklch(0.95 0.036 224);
$navy-950: oklch(0.98 0.015 224);

$blue-50: oklch(0.2 0.106 265);
$blue-100: oklch(0.283 0.15 265);
$blue-200: oklch(0.367 0.194 265);
$blue-300: oklch(0.45 0.238 265); // Anchor
$blue-400: oklch(0.533 0.214 265);
$blue-500: oklch(0.617 0.171 265);
$blue-600: oklch(0.7 0.13 265);
$blue-700: oklch(0.783 0.092 265);
$blue-800: oklch(0.867 0.055 265);
$blue-900: oklch(0.95 0.02 265);
$blue-950: oklch(0.98 0.009 265);
