.experience-list {
	margin: 0;
	padding: 0;
}

.experience-item {
	list-style: none;
	line-height: 1.25;
	margin-block: var(--margin-extrasmall);
	margin-inline: 0;
}

.experience-item-title {
	font-size: 1.25rem;
	font-weight: 300;

	> em {
		font-style: normal;
		font-weight: 700;
	}
}

.experience-item-date {
	color: var(--color-primary-dark);
	font-size: 0.8em;
}

.experience-item-description {
	line-height: 1.5;
	margin-block: 0.25lh;
	margin-inline: 0;

	p,
	ul {
		margin: 0;
	}

	ul {
		list-style-type: disc;
		padding-inline-start: 1lh;
	}
}

.experience-item-stack {
	color: var(--color-foreground-light);
	font-weight: 300;

	span {
		font-weight: 400;
	}
}
