.experience-list {
	margin: 0;
	padding: 0;
}

.experience-item {
	list-style: none;
	margin: var(--spacing) 0;
}

.experience-item-title {
	font-family: var(--font-stack-serif);
	font-weight: 400;

	> em {
		font-style: normal;
		font-weight: 700;
	}
}

.experience-item-date {
	color: var(--color-primary-dark);
	font-size: 0.8em;
}
