.project-list {
	display: grid;
	font-size: 0.8rem;
	gap: var(--spacing);
	grid-template-columns: 1fr;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		position: relative;
		transition:
			filter var(--transition-timing) var(--cubic-bezier-ease-out),
			opacity var(--transition-timing) var(--cubic-bezier-ease-out);

		&:hover {
			transition-timing-function: var(--cubic-bezier-ease-in);
		}
	}

	&:has(li:hover) li:not(:hover) {
		opacity: 0.5;
		filter: sepia(0.75);
	}

	a {
		text-decoration: none;
	}

	img {
		border: 1px solid var(--color-background-dark);
		border-radius: var(--spacing);
		height: auto;
		vertical-align: bottom;
		width: 100%;
	}

	span {
		background: var(--color-background);
		border-right: 1px solid var(--color-background-dark);
		border-top: 1px solid var(--color-background-dark);
		border-top-right-radius: var(--spacing);
		bottom: 0;
		display: inline-block;
		font-weight: 600;
		left: 0;
		padding: calc(var(--spacing) / 2) var(--spacing);
		position: absolute;

		&::before,
		&::after {
			background-image: radial-gradient(
				circle,
				transparent 0,
				transparent calc(var(--spacing) - 1px),
				var(--color-background-dark) calc(var(--spacing) - 1px),
				var(--color-background-dark) var(--spacing),
				var(--color-background) var(--spacing),
				var(--color-background) 100%
			);
			background-position: bottom left;
			background-repeat: no-repeat;
			background-size: calc(var(--spacing) * 2) calc(var(--spacing) * 2);
			content: '';
			display: block;
			height: var(--spacing);
			position: absolute;
			width: var(--spacing);
		}

		&::before {
			left: 0;
			top: calc(var(--spacing) * -1);
		}

		&::after {
			bottom: 0;
			right: calc(var(--spacing) * -1);
		}
	}
}

@media (width >= 35em) {
	.project-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (width >= 52em) {
	.project-list {
		grid-template-columns: repeat(3, 1fr);
	}
}
