---
import type { ImageMetadata } from 'astro'

import styles from './project-thumbnail-list.module.scss'

import { Picture } from 'astro:assets'

import Link from './link.astro'

interface Props {
	items: {
		id: string
		thumbnail: ImageMetadata
		title: string
	}[]
}
const { items } = Astro.props
---

<ul class={styles.list}>
	{
		items.map((project) => (
			<li>
				<article>
					<Link href={`/work/${project.id}/`}>
						<Picture
							alt=""
							formats={['avif', 'webp']}
							sizes={[
								'(min-width: 744px) calc((100vw - 4rem) / 3)',
								'calc(100vw - 4rem)',
							].join()}
							src={project.thumbnail}
							height={500}
							width={900}
							widths={[250, 340, 450, 500, 680, project.thumbnail.width]}
						/>
						<span>{project.title}</span>
					</Link>
				</article>
			</li>
		))
	}
</ul>
