.list {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75rem;
	list-style: none;
	margin: 0;
	padding: 0;

	img {
		height: auto;
		transition: filter 256ms var(--cubic-bezier-ease-out);
		vertical-align: bottom;
		width: 100%;
	}

	li {
		flex: 1 0 calc(1 / 3 * 100% - 2px);
		margin: 1px;
		min-width: 225px;
		position: relative;
		transition: opacity 256ms var(--cubic-bezier-ease-out);
	}

	&:hover {
		img {
			filter: sepia(1);
		}

		li {
			opacity: 0.5;
		}
	}

	li:hover {
		opacity: 1;
		transition-timing-function: var(--cubic-bezier-ease-in);

		img {
			filter: none;
			transition-timing-function: var(--cubic-bezier-ease-in);
		}
	}

	span {
		background: var(--color-primary-light, 0.25);
		border-top-right-radius: 0.5em;
		bottom: 0;
		display: inline-block;
		left: 0;
		padding: calc(var(--spacing) / 1.5) calc(var(--spacing) * 1);
		position: absolute;
	}

	a {
		color: var(--color-foreground);
		text-decoration: none;
	}
}
