---
import Link from './link.astro'
---

<header class="header">
	<a href="/" class="logo"> Guillem Andreu. </a>
	<nav class="menu">
		<ul>
			<li>
				<Link href="/about/">About me.</Link>
			</li><li>
				<Link href="/work/">My work.</Link>
			</li><li>
				<Link href="/contact/">Contact.</Link>
			</li><li>
				<Link href="/uses/">Uses.</Link>
			</li>
		</ul>
	</nav>
</header>

<style lang="scss">
	@use '../styles/utils/mixins' as m;

	@layer layout {
		.header {
			--color-anchor: var(--color-primary-dark);
			align-items: baseline;
			display: flex;
			flex-wrap: wrap;
			view-transition-name: header;
		}

		::view-transition-group(header) {
			animation-duration: 1ms;
		}

		.logo {
			background-position: center;
			color: var(--color-primary);
			font-family: var(--font-stack-serif);
			font-size: 1.5rem;
			font-weight: 900;
			line-height: 0.9;
			margin-block-end: var(--margin-extrasmall);
			margin-inline-end: var(--margin-small);
			padding-block: var(--spacing);
			padding-inline: calc(var(--spacing) / 2);
			text-decoration: none;

			&:hover,
			&:focus {
				color: var(--color-foreground);
				text-decoration: underline;
				text-decoration-thickness: 2px;
				text-underline-offset: 3px;
			}

			&:active {
				color: var(--color-primary-dark);
			}
		}

		.menu {
			font-weight: 600;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}

			li {
				display: inline-block;
				margin-inline-end: var(--spacing);
			}

			a {
				padding: calc(var(--spacing) / 2);
				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: underline;
					text-decoration-thickness: 2px;
					text-underline-offset: 2px;
				}
			}
		}

		@media print {
			.logo {
				font-size: 2rem;

				&::after {
					display: none !important;
				}
			}

			.menu {
				display: none !important;
			}
		}
	}
</style>
