.project {
  composes: txtwrap from '../../../styles/utils.css';
}

.project img {
  margin: var(--spacing) 0;
}

.project img.twoCol {
  border: 1px solid var(--color-border);
}

@media (width >= 600px) {
  .project img {
    margin: var(--spacing) -15%;
    max-width: 130%;
  }

  .project img.twoCol {
    display: inline-block;
    margin: calc(var(--spacing) / 2) -15%;
    width: calc(65% - var(--spacing));
  }

  .project img.twoCol:nth-of-type(odd) {
    margin-right: var(--spacing);
  }

  .project img.twoCol:nth-of-type(even) {
    margin-left: var(--spacing);
  }
}
