.main {
	display: grid;
	gap: var(--layout-gap);
	grid-template-columns: repeat(13, 1fr);
	grid-template-rows: auto;
	margin-block: var(--margin-extrasmall) var(--margin-small);
	margin-inline: 0;
	view-transition-name: main;
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

::view-transition-old(main) {
	animation-name: fade-out;
}

::view-transition-new(main) {
	animation-name: fade-in;
}
