@use '../styles/utils';

.page {
	@extend %text-wrap;

	li a:has(svg) {
		text-decoration: none;

		svg {
			height: 1em;
			margin-block-start: -0.25em;
			vertical-align: middle;
			width: 1em;
		}
	}
}
