---
import type { PageMetadata } from '../components/page-meta.astro'
import BaseLayout from './layout.astro'

interface Props {
	children: any
	frontmatter: {
		title: string
		meta?: PageMetadata
		lastUpdated?: Date
	}
}

const {
	frontmatter: { title, meta, lastUpdated },
} = Astro.props

const lastUpdatedDate = new Date(lastUpdated ?? '')
---

<BaseLayout title={title} meta={meta}>
	<article class="page">
		<h1>{title}<span class="period">.</span></h1>
		<slot />
		{
			lastUpdated && (
				<p>
					<em>
						Last updated on{' '}
						<time datetime={lastUpdatedDate.toISOString()}>
							{lastUpdatedDate.toLocaleDateString('en', { dateStyle: 'long' })}.
						</time>
					</em>
				</p>
			)
		}
	</article>
</BaseLayout>

<style lang="scss">
	@use '../styles/utils';

	@layer layout {
		.page {
			@include utils.text-wrap;

			li a:has(svg) {
				text-decoration: none;

				svg {
					height: 1em;
					margin-block-start: -0.25em;
					width: 1em;
				}
			}
		}
	}
</style>
