:root {
  --color-bg: #fff;
  --color-txt: #603d20;
  --color-primary: #f68d2e;
  --color-primary-light: #fcc89b;
  --color-highlight: #0077c8;
  --color-border: #eee;
  --cubic-bezier-ease-in: cubic-bezier(.3, 0, 1, 1);
  --cubic-bezier-ease-out: cubic-bezier(0, 0, .7, 1);
  --font-stack-sans: 'Geomanist', sans-serif;
  --font-stack-serif: 'Bw Darius', serif;
  --margin-small: calc(var(--spacing) * 4)
  --margin-medium: calc(var(--spacing) * 8)
  --margin-large: calc(var(--spacing) * 12)
  --margin-extralarge: calc(var(--spacing) * 16)
  --spacing: .5rem;
}

html {
  background: var(--color-bg);
  box-sizing: border-box;
  font-size: calc(.75em + .5vw);
  min-height: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-txt);
  margin: 0;
}

a {
  color: var(--color-highlight);
  transition: color 256ms var(--cubic-bezier-ease-out);
}

a:hover,
a:focus {
  color: var(--colour-txt);
  transition-timing-function: var(--cubic-bezier-ease-in);
}

a:active {
  color: var(--color-primary);
}

img {
  max-width: 100%;
  vertical-align: baseline;
}

p {
  margin: .75em 0;
}

@media (min-width: 1400px) {
  html {
    font-size: 1.1875em;
  }
}

::selection {
  background: var(--colour-highlight);
  color: var(--colour-bg);
  text-shadow: none;
}
