:root {
  --color-background: #fff;
  --color-foreground: #002a3a;
  --color-primary: #f68d2e;
  --color-primary-light: #fcc89b;
  --color-anchor: #0077c8;
  --color-border: #eee;
  --cubic-bezier-ease-in: cubic-bezier(0.3, 0, 1, 1);
  --cubic-bezier-ease-out: cubic-bezier(0, 0, 0.7, 1);
  --margin-extrasmall: calc(var(--spacing) * 2);
  --margin-small: calc(var(--spacing) * 4);
  --margin-medium: calc(var(--spacing) * 8);
  --margin-large: calc(var(--spacing) * 12);
  --margin-extralarge: calc(var(--spacing) * 16);
  --spacing: 0.5rem;
  --social-icon-color: var(--color-foreground);
}

html {
  background: var(--color-background);
  box-sizing: border-box;
  font-family: var(--font-stack-sans);
  font-size: calc(0.75em + 0.5vw);
  min-height: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--color-foreground);
  margin: 0;
}

a {
  --social-icon-color: var(--color-anchor);

  color: var(--color-anchor);
  transition: color 256ms var(--cubic-bezier-ease-out);

  &:hover,
  &:focus {
    --social-icon-color: var(--color-foreground);

    color: var(--color-foreground);
    transition-timing-function: var(--cubic-bezier-ease-in);
  }

  &:active {
    --social-icon-color: var(--color-primary);

    color: var(--color-primary);
  }

  &[href^="https://"]
  {
    &::after {
      background: no-repeat center / 0.6em
        url("data:image/svg+xml,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 18 18' fill%3D'%230077c8'%3E%3Cpath d%3D'M14.271 2.494H12.78a.933.933 0 010-1.864h3.208c.409 0 .779.163 1.05.428l.018.018c.267.27.431.642.431 1.052v3.209a.932.932 0 01-1.864 0V3.779L11.538 7.77a.933.933 0 01-1.303-1.334l4.036-3.942zm-5.28-.007l-1.972.02c-1.448.016-2.598.423-3.446 1.287-.833.852-1.223 2.017-1.208 3.457l.037 3.615c.016 1.447.429 2.598 1.279 3.43.866.847 2.025 1.232 3.473 1.217l3.827-.04c1.446-.015 2.602-.42 3.433-1.282l.006-.006c.85-.854 1.231-2.011 1.215-3.455l-.017-1.729a.932.932 0 011.864-.019l.017 1.729c.022 2.011-.574 3.599-1.751 4.782-1.154 1.195-2.737 1.824-4.748 1.844l-3.827.04c-2.008.021-3.595-.573-4.796-1.748C1.196 14.472.559 12.896.538 10.886L.5 7.27c-.02-2 .584-3.597 1.74-4.78C3.417 1.29 4.991.664 6.999.643l1.973-.02a.932.932 0 01.019 1.864z'%2F%3E%3C%2Fsvg%3E");
      content: ' ';
      display: inline-block;
      margin: 0 0.15em;
      height: 1em;
      vertical-align: middle;
      width: 0.6em;
    }

    &:hover::after,
    &:focus::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 18 18' fill%3D'%23002a3a'%3E%3Cpath d%3D'M14.271 2.494H12.78a.933.933 0 010-1.864h3.208c.409 0 .779.163 1.05.428l.018.018c.267.27.431.642.431 1.052v3.209a.932.932 0 01-1.864 0V3.779L11.538 7.77a.933.933 0 01-1.303-1.334l4.036-3.942zm-5.28-.007l-1.972.02c-1.448.016-2.598.423-3.446 1.287-.833.852-1.223 2.017-1.208 3.457l.037 3.615c.016 1.447.429 2.598 1.279 3.43.866.847 2.025 1.232 3.473 1.217l3.827-.04c1.446-.015 2.602-.42 3.433-1.282l.006-.006c.85-.854 1.231-2.011 1.215-3.455l-.017-1.729a.932.932 0 011.864-.019l.017 1.729c.022 2.011-.574 3.599-1.751 4.782-1.154 1.195-2.737 1.824-4.748 1.844l-3.827.04c-2.008.021-3.595-.573-4.796-1.748C1.196 14.472.559 12.896.538 10.886L.5 7.27c-.02-2 .584-3.597 1.74-4.78C3.417 1.29 4.991.664 6.999.643l1.973-.02a.932.932 0 01.019 1.864z'%2F%3E%3C%2Fsvg%3E");
    }

    &:active::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' viewBox%3D'0 0 18 18' fill%3D'%23f68d2e'%3E%3Cpath d%3D'M14.271 2.494H12.78a.933.933 0 010-1.864h3.208c.409 0 .779.163 1.05.428l.018.018c.267.27.431.642.431 1.052v3.209a.932.932 0 01-1.864 0V3.779L11.538 7.77a.933.933 0 01-1.303-1.334l4.036-3.942zm-5.28-.007l-1.972.02c-1.448.016-2.598.423-3.446 1.287-.833.852-1.223 2.017-1.208 3.457l.037 3.615c.016 1.447.429 2.598 1.279 3.43.866.847 2.025 1.232 3.473 1.217l3.827-.04c1.446-.015 2.602-.42 3.433-1.282l.006-.006c.85-.854 1.231-2.011 1.215-3.455l-.017-1.729a.932.932 0 011.864-.019l.017 1.729c.022 2.011-.574 3.599-1.751 4.782-1.154 1.195-2.737 1.824-4.748 1.844l-3.827.04c-2.008.021-3.595-.573-4.796-1.748C1.196 14.472.559 12.896.538 10.886L.5 7.27c-.02-2 .584-3.597 1.74-4.78C3.417 1.29 4.991.664 6.999.643l1.973-.02a.932.932 0 01.019 1.864z'%2F%3E%3C%2Fsvg%3E");
    }
  }
}

img {
  max-width: 100%;
  vertical-align: baseline;
}

p {
  margin: 0.75em 0;
}

li::marker {
  color: var(--color-primary);
}

strong {
  font-weight: 600;
}

small {
  font-size: 0.8em;
}

hr {
  background-image: linear-gradient(
    90deg,
    transparent,
    var(--color-primary),
    transparent
  );
  border: 0;
  height: 1px;
}

@media (width >= 1400px) {
  html {
    font-size: 1.1875em;
  }
}

::selection {
  background: var(--color-foreground);
  color: var(--color-background);
  text-shadow: none;
}
