.txtwrap {
  margin: 0 auto;
  max-width: 1000px;
}

.txtwrap h1 {
  font-family: var(--font-stack-serif);
  font-size: 2rem;
  font-weight: 900;
  margin: 0.75em 0;
}

.txtwrap h2 {
  font-family: var(--font-stack-serif);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1em 0 0.5em;
}

@media (width >= 600px) {
  .txtwrap {
    width: 80%;
  }
}
